<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
    <main class="container">
        <h1><%= title %></h1>
    </main>
    <!-- images and content -->
    <img src="Assets\Bugs.png" class="img-rounded pull-xs-left"" alt="Bugs Bunny" height="200px" width="200px">
    <p>
        Bugs Bunny is the main protagonist and an animated cartoon character, best known for his starring roles in 
        the Looney Tunes and Merrie Melodies series of theatrical short films produced by Warner Bros. during the Golden 
        Age of American Animation. His popularity during this era led to his becoming an American cultural icon, as well 
        as a corporate mascot of the Warner Bros. company.
    </p>
    <img src="Assets\Daffy.png" class="img-rounded pull-xs-right" alt="Daffy Duck" height="200px" width="200px">
    <p>
        Daffy Dumas (also known by Sheldon, Idiot Eyes or Armando) Duck is the deuteragonist and an animated cartoon character produced by Warner Bros. Animation. He has appeared in cartoon series such as Looney Tunes and Merrie Melodies, where he usually has been depicted as a rival and occasional best friend of Bugs Bunny. Daffy was one of the first of the new "screwball" characters that emerged in the late 1930s to replace traditional "everyman" characters who were more popular earlier in the decade, such as Mickey Mouse and Popeye. Daffy starred in a whopping 133 shorts in the Golden Age, making him the third-most frequent character in the Looney Tunes/Merrie Melodies cartoons, behind Bugs Bunny's 166 appearances and Porky Pig's 159 appearances. Daffy was ranked #14 on TV Guide's list of top 50 best cartoon characters of all time and was featured on one of the issue's four covers as Duck Dodgers with Porky Pig and the Powerpuff Girls (all of which are Time Warner-owned characters).
    </p>
    <img src="Assets\Taz.png" class="img-rounded center-left" alt="Tazmanian Devil" height="200px" width="200px">
    <p>
        The Tasmanian Devil, commonly referred to as Taz, is an animated cartoon character featured in the Warner Bros.
        "Looney Tunes" and "Merrie Melodies" series of cartoons. Though the character appeared in only five shorts before
        Warner Bros. Cartoons closed down in 1964, marketing and television appearances later propelled the character to 
        new popularity in the 1990s.
    </p>
<% include partials/footer.ejs %>
    