<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
    <main class="container">
        <h1><%= title %></h1>
    </main>
    <img src="Assets\Bugs.jpg" alt="LoonyTunes">
    <img src="Assets\Daffy.jpg" alt="LoonyTunes">
    <img src="Assets\Taz.jpg" alt="LoonyTunes">
<% include partials/footer.ejs %>
    